---
---

$pattern: "{{ site.baseurl }}/images/pattern.png";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$brand-color: #098455 ;
$html-background-color: #252826;
$secondary-brand-color: #FFC461;


// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 2deg;

 .mySlides {
           
             border-radius: 15px;
            }

 .mySlides2 {
             border-radius: 15px;
            
            }

.mySlides3 {
             border-radius: 15px;
            
            }
            
.myUCScratch{
            border-radius: 15px;
          
            
            }

.video-container
            {
            transform: skewY(-$section-rotation);
            }
.video-container2
            {
                 margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border: 1px solid #009;
    transform: skewY(-$section-rotation);
            }
            

.arrow {
    width: 0;
    left: 50%;
    bottom: 0;
    position: fixed;
    margin-left: -40px;
    border-top: 20px solid red;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    animation: indicate 1s linear infinite;
}

.arrow::before {
    width: 80px;
    display: block;
    position: absolute;
    text-align: center;
    font: .75em 'Arial';
    content: "Scroll Down";
    bottom: 25px; left: -40px;
}

@keyframes indicate {
      0% { bottom: 10% }
    100% { bottom: -10%; opacity: 0 }
}





@import "elements";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";
