---
---

$pattern: "{{ site.baseurl }}/images/pattern.png";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$brand-color: #098455 ;
$html-background-color: #252826;
$secondary-brand-color: #FFC461;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 5deg;

 .mySlides {
            border-radius: 15px;
            }

 .mySlides2 {
            border-radius: 15px;
            }
            
.myUCScratch{
            border-radius: 15px;
            }
            


@import "elements";
@import "layout";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";
@import "cloudcannon";
