.container,
.text-container {
    
	margin: 0 auto;
   position: relative;

	max-width: 100%;
	
}



.text-container {
   
	max-width: 100%;
}

.container {
   
	max-width: 100%;
	
}

.video_container
{
    
    background: #000;
    
    
}
.image_container
{
    position: absolute;
}

.container2,
.text-container2 {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
	margin-top: -2250px;
}

.text-container2 {
	max-width: 1000px;
   	
}

.container2 {
    max-width: 1000px;
	display: flex;
    justify-content: space-between;
    
}


.container3,
.text-container3 {
	margin: 0 auto;
	position: relative;

	margin-top: -8400px;
}

.text-container3 {
	max-width: 100%;
   	
}

.container3 {
	max-width: 100%;

    
}



header {
	color: #fff;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.screenshot{
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 0 1px 0 #ccc,0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0;
	background: url($screenshot-buttons) 4px 4px no-repeat #DDD;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

section {
	padding: 130px 0;
	background: #252826;
	margin-top: -2px;

	&.diagonal {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);

		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}

	&.hero {
		color: #ffffff;
		background: $brand-color;
		text-align: left;
		margin-top: 120px;
		padding-top: 8500px;
        
		h2, p {
			max-width: 90%;
		}

		h2 {
			font-size: 3rem;
			margin-top: -8400px;
		}
		
	
		
		h5, p {
			max-width: 90%;
		}

		h5 {
			font-size: 3rem;
			margin-top: 100px;
		}

		p {
		    text-align: justify;
            
			font-size: 1rem;
			color: #fff;
		}

		a:not(.button) {
			color: #ffffff;
			font-style: italic;
		}
	}

	&.alternate {
		background: #eee;
	}
	
	&.team {
	    	p {
		    text-align: justify;
			font-size: 1rem;
			color: #fff;
			margin-top: -2250px;
		}
	    
	}
	
	&.diagonal2 {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);

		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}

	&.hero2 {
		color: #ffffff;
		background: $brand-color;
		text-align: left;
		margin-top: 120px;
		padding-top: 1600px;
        
		h2, p {
			max-width: 90%;
		}

		h2 {
			font-size: 3rem;
			margin-top: -1500px;
		}
		
	
		
		h5, p {
			max-width: 90%;
		}

		h5 {
			font-size: 3rem;
			margin-top: 100px;
		}

		p {
		    text-align: justify;
            
			font-size: 1rem;
			color: #fff;
		}

		a:not(.button) {
			color: #ffffff;
			font-style: italic;
		}
	}

	&.alternate2 {
		background: #eee;
	}
	
	&.team2 {
	    	p {
		    text-align: justify;
			font-size: 1rem;
			color: #fff;
			margin-top: -2250px;
		}
	    
	}
}


.button {
	padding: 13px 38px;
	border-radius: 3px;
	display: inline-block;
	color: $brand-color;
	text-decoration: none;
	cursor: pointer;
	margin: 20px 0 0 0;
	border: 1px solid #fff;
	background: #49826c;
	text-decoration: none !important;

	&:hover {
		background: rgba(255, 255, 255, 0.3);
		color: #fff;
	}

	&:active {
		opacity: 1;
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
		transform: translateY(1px);
	}
}

.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}

.aligned-top {
	align-items: flex-start;
}

.image-grid {
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 30%;
		}

		img {
			min-width: 100%;
	
		}
	

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 100%;

		img {
			min-height: 100%;
			width: 100%;
		    height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		color: #fff;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

.image-list,
.image-list li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: #222 url($pattern);

	&,
	p {
		color: #fefefe;
		text-align: justify;
	}
}
